[Unit]
Description=Install Kubectl Utility
Documentation=https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/kubectl/kubectl.md
Requires=kube-scheduler.service kube-controller-manager.service kube-apiserver.service
After=kube-scheduler.service kube-controller-manager.service kube-apiserver.service
[Service]
ExecStartPre=-/usr/bin/mkdir -p /opt/bin
ExecStartPre=/usr/bin/curl -L -o /opt/bin/kubectl -z /opt/bin/kubectl https://storage.googleapis.com/kubernetes-release/release/@param:kubernetes-version/bin/linux/amd64/kubectl
ExecStartPre=/usr/bin/chmod +x /opt/bin/kubectl
ExecStart=/opt/bin/kubectl
Restart=always
RestartSec=10
